@charset "UTF-8";
/* line 1, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 13, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 21, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 30, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 43, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 54, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 66, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 75, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 85, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 95, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 106, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 115, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 123, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
sub {
  bottom: -0.25em;
}

/* line 127, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 138, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 150, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 166, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 176, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 185, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 196, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 208, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 219, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 230, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 243, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 251, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 260, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 270, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 280, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 289, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 298, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 310, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 318, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 329, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 337, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/normalizez.scss */
[hidden] {
  display: none;
}

/* line 1, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
html {
  height: 100%;
}

/* line 28, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
body {
  line-height: 1;
}

/* line 31, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
ol, ul {
  list-style: none;
}

/* line 34, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
blockquote, q {
  quotes: none;
}

/* line 37, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 10, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 14, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.main-section {
  height: 800px;
  background: #F0F0F0;
  padding-top: 16px;
}

/* line 18, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

/* line 24, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.main-section__logo {
  width: 134px;
}

/* line 26, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.main-section__content-container {
  display: flex;
  flex-direction: row;
}

/* line 31, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
}

/* line 34, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}

/* line 37, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

/* line 40, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 42, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 45, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: -50px;
  width: 566px;
  height: 220px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
  z-index: 2;
}

/* line 56, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  top: 160px;
  left: -30px;
  width: 618px;
  height: 220px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-50.81deg);
  z-index: 3;
}

/* line 67, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 190px;
  left: 10px;
  width: 609px;
  height: 220px;
  background: #E2E2E2;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-36.15deg);
  z-index: 1;
}

/* line 79, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.icons {
  display: inline-flex;
}

/* line 81, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}

/* line 90, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.icons__item:last-child {
  margin-right: 0px;
}

/* line 92, C:/Users/root/Desktop/Проэкты_2курс/petProjectSass/sass/style.sass */
.icons__item i, .icons__item svg {
  font-size: 21px;
  color: green;
}

/*# sourceMappingURL=style.css.map */