@import "normalizez.scss"
@import "resets.scss"

//134*69

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    height: 800px
    background: #F0F0F0
    padding-top: 16px
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 69px
        align-items: center

.main-section__image
    width: 134px
    height: 69px

.nav-menu
    &__list
        display: flex
        flex-direction: row
        &-item
            margin-right: 64px
            &:last-child
                margin-right: 0px